{% extends "_template.html.twig" %}

{% block content %}
   
    <section id="grosse_div" class= "dimension">   

        <div id='container'>
            <h2 >Nos recettes</h2>
            
            <span>Gâteaux, tartes, viennoiseries, macarons...<br><br>
                Même si c'est pas très raisonnable, on mangerait bien des pâtisseries tous les jours.
                
            </span>
        
            <br><br>
            <a href="{{ path ('recette_list')}}" >Voir toutes les recettes</a>
        </div>

            <div id="carte" class="float"> 
              {% for cat in categories %}
                <div class="cards" >               
                    <img src= "{{asset ('images/recettes/' ~ cat.fileName)}}" class="card-img-top" alt="{{cat.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{cat.category}}</h5>
                        <p class="card-text">
                            Apprenez à préparer vos délicieuses {{cat.category}}.
                        </p>
                        <a href="{{path ('recette_cat', {id: cat.id}) }}" class="btn btn-info">Découvrez</a>
                    </div>
                </div>
               {% endfor %}
            </div> 
    </section>  
   
{% endblock %}
