{% extends "_template.html.twig" %}

{% block content %}
    <div class="dimension">
     
        <h2>{{ recette.name }}</h2>
                 
        <div class="media-body">
                <figure class="figure">
                     <img src="{{asset ('images/recettes/' ~ recette.fileName)}}" alt="{{recette.name}}" class="card-img-top">
                </figure>
        </div>

        <div class="media-body">
            <p>{{ recette.description }}</p>

            <p>Recette pour {{ recette.nbrPers }} personnes</p> 

            <b> Ingrédients: </b>
            {% for ingredient in recette.ingredients %}
                <span> {{ ingredient.quantite }} {{ ingredient.nom }}, </span>
            {% endfor %} 
            <br>

            <b> Ustensiles: </b>
            {% for ustensile in recette.ustensiles %}
                <span>  {{ ustensile.nom }}, </span>
            {% endfor %}

            <p> <b>Temps total </b>
                <i class="far fa-clock">:</i>                       
                    {{recette.tpsTotal}} min                    
            </p>

             <p> <b>Temps de préparation </b>
                <i class="far fa-clock">:</i>                       
                    {{recette.tpsPrepare}} min                    
            </p>

             <p> <b>Temps de cuisson </b>
                <i class="far fa-clock">:</i>                       
                    {{recette.tpsCuisson}} min                    
            </p>
            <p> <b>Les étapes à préparer: </b> {{ recette.preparation }}</p>
        </div>
    
   </div>
     
{% endblock %}

 