{% extends "_template.html.twig" %}

{% block content %}

    <section id = "listRecettes" class= "dimension"> 

        <h2>Les dernières recettes irrésistibles </h2>
        
            <div class= "container"> 

                <div class = "row">  
                 {% for recette in recettes %}
           
                    <div class = "col-6">  

                        <div class="recette_img">
                    
                            <a href="{{path ('recette_page', {id: recette.id})}}">
                                <img src="{{asset ('/uploads/' ~ recette.brochure)}}" alt="{{recette.name}}" style="width:100%;">
                            </a>
                            <div class= "titre_recette">
                                <a href="{{path ('recette_page', {id: recette.id})}}">{{recette.name}}</a>
                            </div>
                        
                        </div>
                    </div>
                 {% endfor %}
                </div>
            </div>
       
        <hr class="separated">
        
        <div class="top_recette">
            <h2>Les recettes les plus faciles</h2>
             <div class="titleRecettes">

                {% for r in results %}

                    <p><a href="{{path ('recette_page', {id: r.id} )}}">{{r.name}}</a><p>

                {% endfor %}

            </div>
                      
        <div>
    </section>

{% endblock %}