{% extends "base.html.twig" %}
   
    {% block body %}

     <section id="admin">
        <div id="menu">
            <div class="logo">
                <a href="{{path ('home')}}"><img id = "logo_img" src="{{asset ('build/logo_new_pamekitchen.png')}} " alt="pamekitchen patisserie">
                </a>
                <a class="connexion" href="{{ path ('app_logout')}}">Déconnexion</a>
            </div>          
            
            <div id="navbar"> 
                {# <div class="container-1">
                    <span class="icon_research"><i class="fas fa-search fa-xs"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div> #}

                <nav class="menuDesktop">
                   
                    <div class="dropdown">
                         <a href="{{path ('home')}}">Accueil</a>
                         
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion des recettes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{path ('admin_recette_add')}}">Ajouter une recette</a>
                            <a class="dropdown-item" href="#">Modifier une recette</a>
                        </div>
                    </div>
                    <!-- <a href="">Cours en ligne</a> -->
                   
                </nav>
            {#---------------------- Menu responsive--------------------------------------------#}
               <div class= "menu_burger"> 
                   <i id="icon_burger" class="fas fa-bars"></i>                           
                    <ul id="menuResponsive"> 
                        <li><a href="connexion.php">Connexion </a> </li>
                        <li><a href="index.php">Accueil</a> </li>
                        <li><a href="recette.php">Recettes </a> </li>
                        <!-- <li> <a href="">Cours en ligne </a></li> -->
                       
                    </ul>
               </div>
            </div>
        </div> 

    </section>

    {% block content %} 

    {% endblock %}

    {% block javascripts %}
            <script>
                $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });
            </script>
    {% endblock %}

 {% endblock %}

