{% extends "admin/_templateadmin.html.twig" %}

{% block title %}
    Recettes
{% endblock %}

{% block content %}
    <div class="dimension">
        <h1 class="title">Recettes: {{ recettes|length }}</h1>


       {# <!-- {% include "includes/flash.html.twig" %} --> #}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                {# <th>Auteur</th> #}
                <th>Nom</th>
                <th>Description</th>
                <th>Quantités ingredients</th>
                <th>Ingrédients</th>
                <th>Ustensiles</th>
                <th>Nombre de personnes</th>
                <th>Temps total</th>
                <th>Temps préparation</th>
                <th>Temps cuisson</th>
                <th>Vidéo</th>
                <th>Préparation</th>
                
            </tr>
            </thead>
            <tbody>

            {% for recette in recettes %}
                <tr>
                    {# <td>{{ recette.User }}</td> #}
                    <td>{{ recette.name }}</td>
                    <td>{{ recette.description|slice(0, 25) }}</td>           
                    <td>
                        {% for ingredients in recette.ingredients %}
                            {{ ingredients.quantite }} 
                        {% endfor %} 
                    </td>

                    <td>
                        {% for ingredients in recette.ingredients %}
                            {{ ingredients.nom }} 
                        {% endfor %} 
                    </td>       
                                      
                    <td>
                        {% for ustensiles in recette.ustensiles %}
                            {{ ustensiles.nom }} 
                        {% endfor %}
                    </td>

                    <td>{{ recette.NbrPers }}</td>
                    <td>{{ recette.TpsTotal}}</td>
                    <td>{{ recette.TpsPrepare}}</td>
                    <td>{{ recette.TpsCuisson }}</td>
                    
                    <td><img src="{{asset ('images/recettes/' ~ recette.fileName)}}" alt="Image" style="width: 100px; heigth:100px"></td>
                    
                    
                    <td>{{ recette.preparation|slice(0, 25) }}</td>
                    <td>
                        <a href="{{path ('admin_recette_edit',{id:recette.id}) }}" class="button is-small is-success">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path ('admin_recette_delete',{id:recette.id}) }}" class="button is-small is-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a> 
                    </td> 
                </tr>

            {% endfor %}
            
            </tbody>
        </table>
    </div>
{% endblock %}
